<!doctype html>
<html lang="en">
<head id="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>نمایش محصول</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/cardInfo.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex me-auto" action="/home">
                <input class="form-control me-2" style="text-align: right" type="text" name="search" placeholder="...جستجو" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">جستجو</button>
            </form>
            <ul class="navbar-nav ms-0 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about"> درباره ی ما <i class="fa fa-info"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/contact"> تماس با ما <i class="fa fa-phone"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home"> خانه <i class="fa fa-home"></i></a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!---->
