<!-- Start footer -->
<footer class="main-footer dt-sl">
    <div class="back-to-top">
        <a href="#header">
            <span class="icon">
                <i class="mdi mdi-chevron-up"></i>
            </span>
            <span>بازگشت به بالا</span>
        </a>
    </div>
    <div class="container main-container">
        <div class="footer-services">
            <div class="row">
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="/img/svg/delivery.svg">
                    </a>
                    <p>تحویل اکسپرس</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="/img/svg/contact-us.svg">
                    </a>
                    <p>پشتیبانی 24 ساعته</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="/img/svg/payment-terms.svg">
                    </a>
                    <p>پرداخت درمحل</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="/img/svg/return-policy.svg">
                    </a>
                    <p>۷ روز ضمانت بازگشت</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="/img/svg/origin-guarantee.svg">
                    </a>
                    <p>ضمانت اصل بودن کالا</p>
                </div>
            </div>
        </div>
        <div class="footer-widgets">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <header class="card-header">
                            <h3 class="card-title">راهنمای خرید از تاپ کالا</h3>
                        </header>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">نحوه ثبت سفارش</a>
                            </li>
                            <li>
                                <a href="#">رویه ارسال سفارش</a>
                            </li>
                            <li>
                                <a href="#">شیوه‌های پرداخت</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <header class="card-header">
                            <h3 class="card-title">خدمات مشتریان</h3>
                        </header>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">پاسخ به پرسش‌های متداول</a>
                            </li>
                            <li>
                                <a href="#">رویه‌های بازگرداندن کالا</a>
                            </li>
                            <li>
                                <a href="#">شرایط استفاده</a>
                            </li>
                            <li>
                                <a href="#">حریم خصوصی</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <header class="card-header">
                            <h3 class="card-title">با تاپ کالا</h3>
                        </header>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">فروش در تاپ کالا</a>
                            </li>
                            <li>
                                <a href="#">همکاری با سازمان‌ها</a>
                            </li>
                            <li>
                                <a href="#">فرصت‌های شغلی</a>
                            </li>
                            <li>
                                <a href="#">تماس با تاپ کالا</a>
                            </li>
                            <li>
                                <a href="#">درباره تاپ کالا</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="newsletter">
                        <p>از تخفیف‌ها و جدیدترین‌های فروشگاه باخبر شوید:</p>
                        <form action="">
                            <input type="email" class="form-control"
                                placeholder="آدرس ایمیل خود را وارد کنید...">
                            <input type="submit" class="btn btn-primary" value="ارسال">
                        </form>
                    </div>
                    <div class="socials">
                        <p>ما را در شبکه های اجتماعی دنبال کنید.</p>
                        <div class="footer-social">
                            <ul class="text-center">
                                <li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
                                <li><a href="#"><i class="mdi mdi-telegram"></i></a></li>
                                <li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="row">
                <div class="col-12 text-right">
                    <span>هفت روز هفته ، 24 ساعت شبانه‌روز پاسخگوی شما هستیم.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        <div class="container main-container">
            <div class="row">
                <div class="site-description col-12 col-lg-7">
                    <h1 class="site-title">فروشگاه اینترنتی تاپ کالا، بررسی، انتخاب و خرید آنلاین</h1>
                    <p>
                        تاپ کالا به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با
                        پایبندی به سه اصل کلیدی، پرداخت در
                        محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا، موفق شده تا همگام با فروشگاه‌های
                        معتبر جهان، به بزرگ‌ترین فروشگاه
                        اینترنتی ایران تبدیل شود. به محض ورود به تاپ کالا با یک سایت پر از کالا رو به رو
                        می‌شوید! هر آنچه که نیاز دارید و به
                        ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.
                    </p>
                </div>
                <div class="symbol col-12 col-lg-5">
                    <a href="#" target="_blank"><img src="/img/symbol-01.png" alt=""></a>
                    <a href="#" target="_blank"><img src="/img/symbol-02.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container main-container">
            <p>
                استفاده از مطالب فروشگاه اینترنتی تاپ کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                کلیه حقوق این سایت متعلق
                به شرکت نوآوران فن آوازه (فروشگاه آنلاین تاپ کالا) می‌باشد.
            </p>
        </div>
    </div>
</footer>
<!-- End footer -->

<!-- Start Modal user edit -->
<div class="modal fade" id="modal-location-edit" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog send-info modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    <i class="now-ui-icons location_pin"></i>
                    ویرایش کاربر
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-ui dt-sl">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <div class="form-row-title">
                                        <h4>
                                            نام کاربری
                                        </h4>
                                    </div>
                                    <div class="form-row">
                                        <input type="text" class="input-ui pr-2 text-right" id="modal-user-edit-username">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <div class="form-row-title">
                                        <h4>
                                           ایمیل
                                        </h4>
                                    </div>
                                    <div class="form-row">
                                        <input type="text" class="input-ui pr-2 text-right" id="modal-user-edit-email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 mb-2">
                                    <div class="form-row-title">
                                        <h3>جنسیت</h3>
                                    </div>
                                    <div class="form-row with-icon">
                                        <ul class="product-variants float-right ml-3">
                                            <li class="ui-variant">
                                                <label class="ui-variant ui-variant--color">
                                                    <input type="radio" value="male" name="modal-user-edit-gender" class="variant-selector"
                                                        checked>
                                                    <span class="ui-variant--check" style="padding-right: 10px;">آقا</span>
                                                </label>
                                            </li>
                                            <li class="ui-variant">
                                                <label class="ui-variant ui-variant--color">
                                                    <input type="radio" value="female" name="modal-user-edit-gender" class="variant-selector">
                                                    <span class="ui-variant--check" style="padding-right: 10px;">خانم</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 pr-4 pl-4">
                                    <button type="button" class="btn btn-primary btn-submit-form" id="action-user-edit" data-user="">ویرایش</button>
                                    <button type="button" class="btn btn-secondary text-light float-left mt-2" data-dismiss="modal">انصراف</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal user edit -->

<!-- Start Modal remove-location -->
<div class="modal fade" id="remove-location" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mb-3" id="exampleModalLabel">آیا مطمئنید که
                    این کاربر حذف شود؟</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="remodal-general-alert-button remodal-general-alert-button--cancel" data-dismiss="modal">خیر</button>
                <button type="button" class="remodal-general-alert-button remodal-general-alert-button--approve" id="action-user-remove" data-user="" >بله</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal remove-location -->

</div>


<!-- Core JS Files -->
<script src="/js/vendor/jquery-3.4.1.min.js"></script>
<script src="/js/vendor/popper.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<!-- Plugins -->
<script src="/js/vendor/owl.carousel.min.js"></script>
<script src="/js/vendor/isotope.pkgd.min.js"></script>
<script src="/js/vendor/jquery.horizontalmenu.js"></script>
<!-- Main JS File -->
<script src="/js/main.js"></script>
<script src="/js/admin/admin.js"></script>
</body>

</html>