<%- include('./common/header') %>

<!-- Start main-content -->
<main class="main-content dt-sl mt-4 mb-3">
    <div class="card-text">
        درباره ی ما
    </div>
</main>
<!-- End main-content -->

<%- include('./common/footer') %>