<%- include('./common/header') %>

<!-- Start main-content -->
<main class="main-content dt-sl mt-4 mb-3">
    <main class="main-content dt-sl mt-4 mb-3">
        <div class="card-text">
            ارتباط با ما
        </div>
    </main>
</main>
<!-- End main-content -->

<%- include('./common/footer') %>